.right{
    flex:1;
    text-align: center;
    padding-right: 20px;
    overflow: hidden;
    height: 500px;
}
.toRight, .toLeft{
    position: absolute;
    top: 55%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    z-index: 1;
}
.toRight{
    right: 0.7vw;
}
.toLeft{
    right: 22.5vw;
}
.imageDiv{
    display: flex;
}
.image{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    object-fit: contain;
}