.musicWave{
    position: absolute;
    bottom: 150px;
    height: 200px;
    width: 55vw;
    border: 1px solid white;
    margin: 20px;
    padding: 0 20px;
}
.block{
    position: relative;
    height: 200px;
    width: 12px;
    display: inline-block;
}
.waveBlock{
    position: absolute;
    height: 5px;
    width: 0.7vw;
    margin: 0.1vw;
    display: inline-block;
    bottom: 0px;
}